body{
    margin: 0%;
    background-color: rgb(243, 248, 253);
}
.gameCon{
  display: flex;
  margin: auto;
  justify-content: center;
  margin-top: 50px;
  flex-wrap: wrap;
  position: relative;
}
.container{
 display: grid;
 grid-template-rows: repeat(3 , 10vw);
 grid-template-columns: repeat(3 , 10vw);
font-family: 'Roboto',  sans-serif;
position: relative;
}
.box{
    border: 3px solid black;
    font-size: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.gameBtn{
    padding: 30px;
}
#b1{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
#b2{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}
#resbtn{
    width: 100px;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 10px;
    padding: 10px 20px;
    background-color: rgb(42, 252, 186);
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}
.info{
    font-size: 40px;
    color: blue;
}
.go{
    font-size: 30px;
    color: red;
}
.draw{
    font-size: 35px;
    color: red;
    background-color: rgb(169, 177, 250);
    text-align: center;
    margin-left: 80px;
}
